In [10]:
# Lists : Ordered, Mutable, allows duplicate elements, can be empty, Hetrogenous

myList = ['Bannana','Cherry','apple']

print(myList)

['Bannana', 'Cherry', 'apple']

In [4]:
myList2 = ['cherry', 5, True, 'cherry',None,'']
print(myList2)

['cherry', 5, True, 'cherry', None, '']

In [6]:
item = myList[0]
print(item)
item = myList[2]
print(item)

Bannana
apple

In [7]:
item = myList[-1]
print(item)

apple

In [8]:
# iterating over list 
for x in myList :
    print(x)

Bannana
Cherry
apple

In [12]:
if 'Bannana' in myList:
    print('Yes')
else:
    print('No')

Yes

In [13]:
if 'Lemon' in myList:
    print('Yes')
else:
    print('No')

No

In [14]:
print(len(myList))

3

In [15]:
myList.append('Orange')
print(myList)

['Bannana', 'Cherry', 'apple', 'Orange']

In [16]:
myList.insert(2,'Blueberry')
print(myList)

['Bannana', 'Cherry', 'Blueberry', 'apple', 'Orange']

In [17]:
myList.pop() # removes last elements
print(myList)

['Bannana', 'Cherry', 'Blueberry', 'apple']

In [18]:
myList.remove('Cherry')
print(myList)

['Bannana', 'Blueberry', 'apple']

In [19]:
myList.remove('lemon')
print(myList)

ValueError: list.remove(x): x not in list

In [21]:
myList.clear()
# remove all elements from the list
print(myList)

[]

In [23]:
myList2

['cherry', 5, True, 'cherry', None, '']

In [24]:
myList2.reverse()
print(myList2)

['', None, 'cherry', True, 5, 'cherry']

In [29]:
myList = [-1,10,20,4,5,-4,0]
myList.sort()
print(myList)

[-4, -1, 0, 4, 5, 10, 20]

In [30]:
# List tricks

list1 = [0] *5
print(list1)

[0, 0, 0, 0, 0]

In [32]:
list2 = [1, 2, 3, 4, 5]
newlist2 = list1 + list2
print(newlist2)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [35]:
# slicing 
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a = list3[1:5]
print(a)

[2, 3, 4, 5]

In [36]:
a = list3[ : 5]
print(a)

[1, 2, 3, 4, 5]

In [37]:
a = list3[ :: 2]
print(a)

[1, 3, 5, 7, 9]

In [39]:
a = list3[ :: -1]
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
list_org = ['bannana','Orange','cherry','apple']
list_copy = list_org
list_cpy = list_org.copy()
list_copy.append('Grape')

print(list_copy)
print(list_org)
print(list_cpy)

listcpy = list_org[:]
print(listcpy)

['bannana', 'Orange', 'cherry', 'apple', 'Grape']
['bannana', 'Orange', 'cherry', 'apple', 'Grape']
['bannana', 'Orange', 'cherry', 'apple']
['bannana', 'Orange', 'cherry', 'apple', 'Grape']

In [48]:
l =[1, 2, 3, 4, 5, 6]
b =[ i * i for i in l]

print(l)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]